<html>
  <head>
    <style>
    h1 {
        color: #ffff66;
        font-size: 28pt;
        }
        body {
          background-image: url("https://images.8tracks.com/cover/i/000/803/469/tumblr_mu2chflMxX1rixjg1o1_500-8364.jpg?rect=0,0,500,500&q=98&fm=jpg&fit=max")
          }
          </style>
          </heade>
          </html>
